.top-bar, .middle-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 60vw;
    padding-left: 40vw;
    position: fixed;
    top: 0px;
    background-color: white;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(0,0,0,0));
}
.middle-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    padding-left: 0;
    position: unset;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    height: 10vh;
}

.index-logo{
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    margin-bottom: 5vh;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Courier New', Courier, monospace;
    font-weight:lighter;
    text-align: center;
}

.top-bar>*, .middle-bar>*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: grey;
    text-decoration: none;
    text-align: center;
    margin: 1em;
    flex: 1;
}

.top-bar>*:hover, .middle-bar>*:hover {
    color: black;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: end;
    align-items: center;
    margin: 15vw;
    margin-top: 0;
    /* background-color: aliceblue; */
}

#header{
    margin-top:15vh;
}

#midder{
    margin-top: 30vh;
}

.content>.right{
    justify-self: center;
}

.content>.left{
    justify-self: center;
}

h1{
    font-family:'Courier New', Courier, monospace;
    font-weight:lighter;
    font-size: 5em;
}

h2{
    font-size: 2em;
    font-weight: bold;
}

h3{
    font-size: 1.2em;
}

h4{
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
}

h5{
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
}

h6{
    font-family:'Courier New', Courier, monospace;  
    font-size: 1.5em;
    color:grey;
}

.contact{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;

}

.contact>*{
    flex:1;
    margin-left: auto;
}

.socials{
    height: 8vh;
    filter:opacity(50%);
}

.socials:hover{
    filter:opacity(100%);
}
button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    max-width: 20vh;
}
button:hover{
    border: 1px solid black;
}

/*  */
  form {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid lightgrey;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
  }
  
  form button {
    padding: 8px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: black;
  }

  ul {
    list-style-type: none;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-align: center;
  }
  
  li {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  li label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    margin-left: 10px;
  }

  li label:hover {
    text-decoration: line-through;
    opacity: 30%;
  }
